@{ 
    // TODO: Do something with the footer?
}
<!DOCTYPE html>
<html>
<head>
    <title>Bob's Burgers</title>
    <link rel="stylesheet" href="~/site.css" />
</head>
<body>
    <header class="container site-header">
        <div class="row">
            <h1 class="main-logo">
                <a href="/">Bob's Burgers</a>
                <img class="banner" style="transform: rotate(1deg);" src="~/Images/reopening.png" />

            </h1>

        </div>
        <div class="row ">
            <nav class="navbar">
                <ul class="nav nav-pills ">
                    <li><a @*class="active"*@ href="/Index">Home Page</a></li>
                    <li><a href="/Menu">Our Burgers</a></li>
                    <li><a href="/Comments">Rate us!</a></li>
                    <li><a href="/About">About</a></li>
                    <li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="login" href="/Account/Login">Bob's Login</a>
                        }
                        else
                        {
                            <form method="post" asp-page="/Account/Login" asp-page-handler="Logout">
                                <div class="input-group">
                                    <button id="btn_login" type="submit" class="btn-link">Logout</button>
                                </div>
                            </form>
                        }
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            @if (IsSectionDefined("Title"))
            {
                @RenderSection("Title", required: false)
            }
            else
            {
                <h2 class="title">@ViewData["Title"]</h2>
            }
        </div>
    </header>
    <div class="container">

        @RenderBody()
    </div>
    <!-- Footer -->
    <footer>
        <div class="text-center">
            <span>Test</span>
        </div>
            @*<div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6  ">
                        <p class="">Here you can use rows and columns to organize your footer content.</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Link 1</a>
                            </li>
                            <li>
                                <a href="#!">Link 2</a>
                            </li>
                            <li>
                                <a href="#!">Link 3</a>
                            </li>
                            <li>
                                <a href="#!">Link 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                Copyright the Belchers
            </div>*@
            <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>