@page
@{
    // TODO: Fill out About Us Page with images and background. Also add credit for images/show/boilerplate and frameworks
    var recipes = await RecipesService.GetAllAsync();
}
@section Title {
    <h2 class="title">About Bob's Burgers & The Belechers!</h2>
}

<div class="row recipes">

</div>
