@page
@{
    var recipes = await RecipesService.GetAllAsync();
}
@section Title {
    <h2 class="title">About Bob's Burgers & The Belchers!</h2>
}

<div class="row recipes burgerBlackBoard">
    <div class="col-6 ">

        <h1 class="text-center">BobzBurger </h1>
        <br />
        <h2>Decription: </h2>
        <p>
            Bob's Burgers FanPage made with <a href="https://docs.microsoft.com/en-us/dotnet/csharp/">[C#]</a> using the <a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core"> [ASP.NET CORE]</a> and <a href="https://getbootstrap.com/">[Bootstrap]</a> made by me,<a href="https://www.linkedin.com/in/olaf-minkowicz/">[Olaf Minkowicz]</a>.This site was made from a modified version of  <a href="https://github.com/jchadwick/LearnAspNetCoreRazorPages">[Jess Chadwick's ASP.NET CORE RAZOR Tutorial]</a> as the boilerplate.
        </p>
        <p>
            This BobzBurgers is not a licensed product of the cartoon but a fan site made while learning Razor and ASP.NET CORE. All images related to Bobs Burgers are owned by © 2019 Fox Media LLC.
        </p>
        <p>
            Burger art by <a href="https://www.redbubble.com/people/geeksweetie?ref=artist_title_name">[geeksweetie]</a> at RedBubble. Go check geeksweetie awesome artwork out!
        </p>
        <hr />
        <p>
            To use the authenication login use the following username and password:
            <br />
            > **username:** bob@bobsburger.com
            <br />
            > **password:** kuchikopi
            <img class="center-block" src="~/Images/aboutus.jpg" alt="Image of the Belchers" width="250" />
        </p>


    </div>
            
</div>

