@page
@{
    // TODO: Create 3 Comments and then add annonymous commenting feature, work off photo upload feature
    var recipes = await RecipesService.GetAllAsync();
}
@section Title {
    <h2 class="title">Leave Us A Review!</h2>
}

<div class="row">

</div>
