@page
<!DOCTYPE html>
<html>
<head>
    <title>Bob's Burgers</title>
    <link rel="stylesheet" href="~/site.css" />
</head>
<body>
    <header class="container site-header">
        <div class="row">
            <h1 class="main-logo"><a href="/">Bob's Burgers</a></h1>
        </div>
        <div class="row">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="/About">About</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a class="active" href="/">Recipes</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <!-- <ul class="nav nav-pills">
        <li>
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="/Account/Login">Login</a>
            } else
            {
                <form method="post">
                    <div class="input-group">
                        <span>@User.Identity.IsAuthenticated</span>
                        <button typeof="submit" class="btn btn-link">Logout</button>
                    </div>
                </form>
            }

        </li>
    </ul>-->
            </nav>
        </div>
        <div class="row">
            <h2 class="title">My Favorite Recipes</h2>
        </div>
    </header>
    <div class="container">
        <div class="row recipes">

            @foreach (var recipe in new[] { " Birthday Cake for Fido", "Pumpkin Pie", "apple turnover" })
            {
                <div class="recipe col-md-4">
                    <img class="img img-thumbnail" src="~/Images/burger.jpg" />
                    <h3><a href="/Recipe">@recipe</a></h3>
                    <p>Maybe it's just me, but I don't get the pun in this one at all.</p>
                </div>

            }

        </div>

    </div>
    <footer>
        <div class="text-center">
            <span class="text-muted">Last Rendered:  @DateTime.Now  </span>
        </div>
    </footer>
</body>
</html>