@page
@{
    var recipes = await RecipesService.GetAllAsync();
    Random r = new Random();
    int rInt = r.Next(0, recipes.Length);
}
@section Title {
    <h2 class="title">Welcome to Our Grand-Re-Re-Re-Re-Opening!</h2>
    @*<a asp-page="/Admin/AddEditRecipe" class="add-recipe btn  btn-primary">Add Recipe</a>*@
        }

        <div class=" row  blackBoard">
            <div class="col-4">
                <h3 style="text-align: center;"class="burgerDay">
                    <u>Burger of the Day</u>
                </h3>
                <br />
                <br />
            </div>
            <div class="col-4 ">
                <h4 style="text-align: center;" class="burgerSpecial"><a asp-page="/Burgers" asp-route-id="@recipes[rInt].Id">@recipes[rInt].Name</a></h4>
                <br />
            </div>
            <div class=" col-4">
                <h5 class="burgerPrice">$5.95</h5>
            </div>

        </div>
        <br />

