@page
@{
    var recipes = await RecipesService.GetAllAsync();
}
@section Title {
    <h2 class="title">My Favorite Recipes</h2>
}

<div class="row recipes">

    @foreach (var recipe in recipes)
    {
        <div class="recipe col-md-4 burgerBlackBoard">
            <a asp-page="./Burgers" asp-route-id="@recipe.Id">
                <img class="img burgerImage" src="@recipe.GetInlineImageSrc()" />
            </a>
                <h3><a asp-page="./Burgers" asp-route-id="@recipe.Id">@recipe.Name</a></h3>
        </div>

    }
</div>
