@page "{id}"
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var recipe = await RecipesService.FindAsync(id);

    ViewData["Title"] = recipe.Name;
}

    <div class="row recipe burgerBlackBoard">
        <div class="col-6 ">
            <div class="col-8 text-center">
                <span class="description">
                    @recipe.Description
                </span>
            </div>
            <div class="col-2 text-center">
                <img class="img burgerImage" src="@recipe.GetInlineImageSrc()" />
            </div>
            <hr />
        </div>
        <div class="ingredients col-6">
            <h3 class="text-center">Ingredients</h3>
            <ul>
                @foreach (var ingredient in recipe.IngredientsList)
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>
    </div>

