@page "{id}"
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var recipe = await RecipesService.FindAsync(id);

    ViewData["Title"] = recipe.Name;
}

<div class="row recipe burgerBlackBoard">
    <div class="col-md-8 ">
        <div class="col-md-12 ">
            <span class="description">
                @recipe.Description
            </span>
            <hr />
        </div>
        <div class="ingredients col-md-4 ">
            <h4>Ingredients</h4>
            <ul>
                @foreach (var ingredient in recipe.IngredientsList)
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <img class="img img-thumbnail" src="@recipe.GetInlineImageSrc()" />
    </div>
</div>

